### 1. [簡答題] 請問 Pandas 套件最主要的貢獻是什麼？

Pandas 提供了快速高校的 DataFrame 及 Series 的資料結構，使 pandas 在做資料分析時有更高性能的運算、操作能力。

且 pandas 已廣泛運用在各領域，使其在流通上有相當高的普遍性。

Pandas 也提供了方便地資料讀寫能力，使其能彈性銜接於 csv、excel、SQL...格式中。

### 2. 根據提供的資料集，印出他們的屬性分別為何？
（屬性：shape、size、values、index、columns、dtypes、len）

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
print('Shape:', df.shape)
print('\nSize:', df.size)
print('\nValue:', df.values)
print('\nIndex:', df.index)
print('\nColumns:', df.columns)
print('\nDtype:', df.dtypes)
print('\nLen:', len(df))

Shape: (10, 4)

Size: 40

Value: [['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]

Index: RangeIndex(start=0, stop=10, step=1)

Columns: Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')

Dtype: Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

Len: 10